*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    
}
body {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background: #cfccd0;
}

/*Header*/
.cabecera p{
    text-align: center;
    background: #fef8ff;
    padding: 10px;
}

.cabecera{
    background: #171717;
    position: relative;
}

.cabecera .ig li img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: 0;
} 

.cabecera img{ /*Imagen logo*/
    width: 400px;
    height: 250px;
}



/*Menu*/

nav{
    position: absolute;
    top: 150px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /* Convierte texto en mayusculas */
    color: rgb(255, 255, 255);
    font-weight: bold; /* Texto negrita */
    font-size: 22px; /* tamaño */
    text-decoration: none; /* Saco subrayado */
    padding: 10px;
}

nav a:hover{  
    color:#a3a3a3;
}

/*Menu imagenes*/
.nav2{
    top: 250px;
    right: 0px;
}

.nav2 img{
    width: 30px;
    height: 30px;
    display:inline;

}

.nav2 li{
    margin: 0 0 0 -5px;
}


/*slider*/

.slider{
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(260px * 14);
}

.slider .slide{
    width: 260px;
}

.slider .slide img{
    width: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-260px * 7));
        transform: translateX(calc(-260px * 7));
    }
}