*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
body {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background: #cfccd0;
    
}

/*Header*/
.cabecera p{
    text-align: center;
    background: #fef8ff;
    padding: 10px;
}

.cabecera{
    background: #171717;
    position: relative;
}

.cabecera .ig li img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: 0;
} 

.cabecera img{ /*Imagen logo*/
    padding: 10px;
    width: 400px;
    height: 120px;
}

h1{
    text-align: center;
}

/*Menu*/

.navegador{
background: #fef8ff;
margin: 0;

}

.navegador nav ul{
    list-style: none;
    margin: 0 ;
    padding: 0;
}

.navegador nav ul li{
    display: inline-block;
}

.navegador nav ul li a{
color: #171717;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
display: block;
padding: 20px 60px;
position: relative;

}


.navegador nav ul li a:hover{
    background-color:#efeff4;
    text-decoration:none;
}


/*Menu imagenes*/
.navegador2{
    position: relative;
    margin-top: -4.5%;
    margin-left:88%;
}

.navegador2 nav ul li img{
    width: 30px;
    height: 30px;
    display:inline-block;

}

.navegador2 nav ul li{
    display: inline-block;
    margin: 0 0 0 -5px;
   
    
}


/*slider*/

.slider{
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
  
}

.slider .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(280px * 14);
}

.slider .slide{
    width: 280px;
}

.slider .slide img{
    width: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-280px * 7));
        transform: translateX(calc(-280px * 7));
    }
}
