*{
    margin: 0;
    padding: 0;
}


/*************************BODY**/
html{
    height: 100%;
}


body{
    min-height: 100%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;

}

.grid-body{
width: 800px;
margin: 0 auto;
background-color: rgb(239, 238, 237);
}

/**************************NAVEGADOR Y IMAGEN EN EL HEADER*/

.header-grid{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px;
    left: 0%;
    
}


.header-grid nav{
    background-color: rgb(239, 241, 246);
    /*float: right;*/
    
}

.header-grid nav ul li{
    display: inline-block;   
}

.header-grid nav ul{
    list-style: none;
    margin: 0;
    padding: 5px;
}

.header-grid nav ul li a{
color: rgb(0, 0, 0);
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
padding: 10px;
font-size: 18px;

}


.header-grid nav ul li a:hover{
    color:#524e4e;
    text-decoration:none;
}

/*boton menu*/
#boton img{
    z-index: 100px;
    float: left;
    width: 40px;
    height: 40px;
    
}

#btn{
    width: 38px;
    height: 38px;
    position: absolute;
    border: 0px solid ;
    left: 94%;
    background-color: transparent;
}



/*sub-boton*/
#submenu{
    display: none;
}
#btn2{
    width: 38px;
    height: 38px;
    position: absolute;
    border: 0px solid ;
    left: 75%;
    background-color: transparent;
}

#submenu img{
    margin-left: 120px;
    width: 40px;
    height: 40px;
    margin-top: -99px;
}

#submenu{
    background-color: #e7e8e9;
    width: 158px;
    height: 100px;
    position: absolute;
    left: 80%;
    border: 2px solid #000;
}

#submenu ul{
    list-style: none;
    margin: 0;
    padding: 5px;
    
}

#submenu ul li{
    display: block;
    padding: 5px;
}

#submenu ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    z-index: 20px;
}

#submenu ul li a:hover{
    color: rgb(56, 103, 153);
}



/****************************MAIN*/
.main{
    background-color: rgb(127, 255, 161);
    
}
.main section{
    text-align: center;
    display: inline;
}

/***************************SLIDER**/
.slider{
    background-color: blueviolet;
}

/***************************FOOTER**/
.footer{
    background-color: chocolate;
}


/**********************************GRID*/

.grid-body > *{
    
    padding: 5px;
}

.menu_desplegable{
    grid-area:menu_desplegable;
}

.menu_desplegable2{
    grid-area:menu_desplegable2;
}
.p-envios{
    text-align: center;
    background-color: rgb(239, 241, 246);
    grid-area: p-envios;
}

.header-grid{
 grid-area: header-grid;
}

.navbar{
    grid-area: navbar;
}

.sidebar{
    background-color: aquamarine;
    grid-area: sidebar;    
}

.main{
    grid-area: main;
}
.slider{
    grid-area: slider;
}
.footer{
    grid-area: footer;
}


/******************GRID CONTENIDO**/
/*celular*/
.grid-body{
    display: grid;
    gap: 10px;
    grid-template: 
    "p-envios" 40px
    "header-grid" 100px
    "menu_desplegable" 80px
    "sidebar" auto
    "main" auto
    "slider" 240px
    "footer" 100px;
}

/*tablet*/


@media (min-width: 200px){
 
    .grid-body{
        grid-template: 
        "p-envios p-envios" 40px
        "header-grid menu_desplegable" 100px 
        "sidebar sidebar" auto
        "main main" auto
        "slider slider" auto
        "footer footer" auto/
        200px    auto;
        }

        .header-grid{
            width: 800px;
            margin-left: -10px;
        }
    
        .navbar {
            display: none;
        }
        .menu_desplegable{
            display: block;
        }
       
        
}


@media (min-width: 420px){
 
    .grid-body{
        grid-template: 
        "p-envios p-envios" 40px
        "header-grid menu_desplegable" 100px 
        "sidebar main" auto
        "slider slider" auto
        "footer footer" auto/
        200px    auto;
        }

        .header-grid{
            width: 800px;
            margin-left: -10px;
        }
    
        .navbar {
            display: none;
        }
        .menu_desplegable{
            display: block;
        }
       
        
}


@media (min-width: 600px){
 
    .grid-body{
        grid-template: 
        "p-envios p-envios" 40px
        "header-grid menu_desplegable" 100px 
        "sidebar main" auto
        "slider slider" auto
        "footer footer" auto/
        200px    auto;
        }

        .header-grid{
            width: 800px;
            margin-left: -10px;
        }
    
        .navbar {
            display: none;
        }
        .menu_desplegable{
            display: block;
        }
       
        
}
/*computadora*/
@media (min-width: 900px){
 
    .grid-body{
        grid-template: 
        "p-envios p-envios" 40px
        "header-grid menu_desplegable" 100px
        "slider slider" auto
        "sidebar main" auto
        "footer footer" auto/
        200px    auto;
        }

        .header-grid{
            width: 800px;
            margin-left: -10px;
        }
    
        .navbar {
            display: block;
        }
        .menu_desplegable{
            display: none;
        }
        .menu_desplegable2 img{
            display: none;
        }
        
}


/*
header{
navbar
}
main
slider
footer


*/

/*
html{
    height: 100%;
}*/
